#elem {
	width: 300px;
	height: 300px;
	color: white;
	text-align: center;
	background-color:green; /* задаем оранжевый цвет фона */
	border-width: 4px;
	border-style: ridge;
	border-color: blue;
	width: 250px;
	height: 200px;
} 